.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 0;
    border-radius: 15px;
    width: 80px;
    background-color: white;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    color: black;
}
